@font-face{
    font-family: CrucifixionRegular;
    src: url("fonts/CrucifixionRegular-wO2Z.otf") format("opentype");
}
@font-face{
    font-family: Casta;
    src: url("fonts/Dirtyline Studio - Casta-ThinSlanted.otf") format("opentype");
}

body {background-color: white}
h1 {
  color: rgb(37, 187, 39);
  font-family: 'CrucifixionRegular';
  font-size: 9vw;
  text-align: center;
  -webkit-text-stroke: 0.15vw black;
  margin-top: 20px;
}
h2 {
  color: rgb(37, 187, 39);
  font-family: 'Casta';
  font-size: 4vw;
  text-align: center;
  -webkit-text-stroke: 0.01vw black;
  margin-top: 20px;
  display: inline;
}
.box{
  position: fixed;
  text-align: center;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
