body {background-color: white}
h1 {
  color: rgb(37, 187, 39);;
  font-family: arial;
  font-size: 300%;
  font-style: italic;
  -webkit-text-stroke: 1px black;
}
.box{
  position: absolute;
  text-align: center;
}
