@font-face{
    font-family: CrucifixionRegular;
    src: url("fonts/CrucifixionRegular-wO2Z.otf") format("opentype");
}

body {background-color: white}
h1 {
  color: rgb(37, 187, 39);
  font-family: 'CrucifixionRegular';
  font-size: 9vw;
  text-align: center;
  -webkit-text-stroke: 0.15vw black;
  margin-top: 20px;
}
.box{
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
a{
  font-family: Arial;
  text-align: center:
  font-size: 5vw;
}
a:link {
  background-color: green;
}
a:visited {
  background-color: cyan;
}
a:hover {
  background-color: yellow;
}
a:active {
  background-color: hotpink;
} 
